<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

#Redirects for old site
Redirect /event /events
Redirect /band/history /history
Redirect /contact-us /contact
Redirect /band/gallery /gallery
Redirect /band/support-the-band /support-the-band

